html{
	background-color: black;
	color: #BB2222;
	font-family: Helvetica;
	font-weight: bold; 
    font-size: 22px;
    width: 100%; 
}
.title{
width : 68%;
     display: inline-block;  
     overflow: hidden;
     height: 52px;
}
.time{
width : 29%;
    margin: auto;
     display: inline-block;  
    text-align:right;
vertical-align: top;
}
.div-button{

     display: inline-block;  
margin: 25px 15px;
}
.active{
    
    color: #444 !important;
}
.div-artist, .div-album, .div-clear, .div-playlist, .div-reboot{

     display: inline-block;  
margin: 25px 8px;
}
.div-link {
        margin-top:-8px;
}
.div-link .button{
    
    font-size: 23px;
}
.button, .top{
    background: #222;
    border: none;
	color: #BB2222;
    font-size: 35px;
margin-top:0px;
margin-bottom:0px;
}
.top{
    text-decoration: none;
    font-size: 20px;
    float: right;
	color: #BB2222;
    padding: 10px;
}
.button-artist {
    display: inline-block;
}
.button-artist .button{
    margin: 10px;
    font-size: 20px;
    width: 120px;
    overflow: hidden;
}
.button-song .button{
    margin: 10px;
    font-size: 16px;
    overflow: hidden;
    display: block; 
    height: 18px;
    padding: 2px;
}
.div-genre{

     display: inline-block;  
margin:5px;
}
.control{
display: block;

}
.hidden{
    display:none;
}
.fullbar_time{
    margin-top: 10px;
    border: 1px  solid  #BB2222;
}

.bar_time{
    background:  #BB2222;
    height:10px;
}
.list-setting .button{
	font-size: 20px;

}
.list-setting div{
 display: inline-block;
margin: 0px 50px 10px 50px;
}
.info-setting{
font-size: 14px;
}
.slot{
font-size: 14px;


}
.div-save{
	display: inline-block;
}
