html{
	background-color: black;
	color: #FFF;
	font-family: Helvetica;
	font-weight: bold; 
    font-size: 22px;
    width: 100%; 
}
body{
	margin:0px;   
}
.info_music{
	width : 68%;
     display: inline-block;  
     height: 52px;
}
.info_music>div{
	width : 100%;
	display: inline-block;  
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 23px;
}
.time{
	width : 29%;
	margin: auto;
	display: inline-block;  
	text-align:right;
	vertical-align: top;
}

.div-artist, .div-album, .div-clear, .div-playlist, .div-reboot{

	display: inline-block;  
	margin: 0px 0px;
	width:25%;
}

.div-link {
	margin-top:0px;
	margin-bottom:25px;
	width:100%;
}
.div-link>div {
	border-bottom : 1px solid grey;
}
.div-link>div:not(:first-child) {
	border-left : 1px solid grey;
	margin-left: -1px;
}
.div-link input{
	width: 100%;	
}
.div-link .button{
    
    font-size: 23px;
}
.div-button{

     display: inline-block;
	 vertical-align: top;
	 width: 20%;
}
.img_button{
	color: rgba(0,0,0,0);
	margin: 0px 0px;
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	height:78px;
	width:100%; 
    background-color: #222;
	border:none;
    border-top: 1px solid grey;
    border-bottom:  1px solid grey;
}
.s_active{
    background-image: url("musicshuffle.png");
}
.s_inactive{
    background-image: url("musicshuffle_off.png");
}
.r_active{
    background-image: url("musicrepeat.png");
    border-right:  1px solid grey;
}
.r_inactive{
    background-image: url("musicrepeat_off.png");
    border-right:  1px solid grey;
}
.control{
	
margin-top:30px;
}
.playbutton{

    background: #222;
    border: none;
    border-top: 1px solid grey;
    border-bottom:  1px solid grey;
    border-right:  1px solid grey;
	color: #FFF;
    font-size: 55px;
	margin-top:0px;
	margin-bottom:0px;
	width:100%;
}

.button, .top{
    background: #222;
    border: none;
	color: #FFF;
    font-size: 35px;
	margin-top:0px;
	margin-bottom:0px;
}
.top{
    text-decoration: none;
    font-size: 20px;
    float: right;
	color: #FFF;
    padding: 10px;
}
.button-artist {
    display: inline-block;
}
.button-artist .button{
    margin: 10px;
    font-size: 20px;
    width: 120px;
    overflow: hidden;
}
.button-song .button{
    margin: 10px;
    font-size: 16px;
    overflow: hidden;
    display: block; 
    height: 18px;
    padding: 2px;
}
.playlist{
	position: absolute; bottom: 0;
	width:100%;
}
.playlist>div {
	border-top : 1px solid grey;
}
.playlist>div:not(:first-child) {
	border-left : 1px solid grey;
	margin-left: -1px;
}
.div-genre{
	display: inline-block;  
	width:25%;
	margin:0px;
}
.div-genre input{
width: 100%;	
}
.control{
display: block;

}
.hidden{
    display:none;
}
.fullbar_time{
    margin-top: 10px;
    border: 1px  solid  #FFF;
}
.bar_time{
    background:  #FFF;
    height:10px;
}
.list-setting .button{
	font-size: 20px;
}
.list-setting div{
	display: inline-block;
	margin: -5px 50px 15px 50px;
}
.info-setting{
	font-size: 14px;
}
.slot{
	font-size: 14px;
}
.div-save{
	display: inline-block;
}
.float-right{
	float: right;
	margin-top: -15px;
}
